.navbar {
  margin-bottom: 10px;
}

.bottom-margin {
  margin-bottom: 10px;
}

.top-margin {
  margin-top: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.anchor {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.tools-divider {
  margin-left: 6px;
  margin-right: 6px;
  border-left: #eee 1px solid;
}

.full-width-modal {
  max-width: none !important;
}
