body {
  background-color: #f6f9fc;
  //background-color: white
}

.cursor-pointer {
  cursor: pointer;
}

.anchor {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}


.groups {
  .group-sidebar-member {
    .member-controls {display: none}
    &:hover {
      .member-controls {display: initial}
    }
  }
}

.custom-amplify-container {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center
}

.field-name p {margin: 0}

.markdown-render {
  background-color: #eee;
}

.auth-block {
  /*width: 900px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.feature-details img {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 10px;
}
