body {
  background-color: #f6f9fc;
  //background-color: white
}

.cursor-pointer {
  cursor: pointer;
}

.anchor {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}


.groups {
  .group-sidebar-member {
    .member-controls {display: none}
    &:hover {
      .member-controls {display: initial}
    }
  }
}

.custom-amplify-container {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center
}

.field-name p {margin: 0}
