.gnothi-jumbo {
}
.jumbo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  margin: 0 auto;
  max-width: 600px;
}
.jumbo-text {
  text-align: center;
}

.auth-block {
  /*width: 900px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.splash-features {
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.splash-features .col {
  padding: 20px;
}

.feature-details img {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 10px;
}
