# dependencies
node_modules

# sst
.sst
.build

# misc
.DS_Store

# local env files
.env*.local
.env.shared-dev
.env.staging
.env.prod

.idea

tmp

cdk.context.json

pg_tmp/

.env-shared-*
/.sst.config.1684950561589.mjs
