.advert.card {
  border: none;

  .card-header {
    background-color: white;
    border: none;

    .btn {
      padding-top: 0px;
    }
  }

  img {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
  }

  .audible-ad {
    border:none !important; margin:0px !important;
  }
}


