.advert.card {
  border: none;

  /*https://css-tricks.com/almanac/properties/b/box-shadow/*/
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  border-radius: 5px;
}

.advert .card-header {
  background-color: white;
  border: none;
}

.advert .card-header .btn {
  padding-top: 0px;
}

.advert img {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.audible-ad {
  border:none !important; margin:0px !important;
}
