[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt = "*"
flask-sqlalchemy = "*"
click = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
