.blur-summary {
  position : relative;
}

.blur-summary:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 2em;
}

.sponsor-button {
  border: 0;
}

.entries-entry {
  border-bottom: 2px solid #eee;
}
